
<body>

<% id = params[:id] %>
<% if id %>
	<% user = get_user(id) %>
	<h3>View <%= id %>'s profile</h3>
	
	<ul class="list-group">
	<% getCheckIns().each do |item| %>
		<li class="list-group-item"><% shout = item["shout"] %>
		<% venue = item["venue"] %>
		<% location = venue["location"] %>
		
		<%= venue["name"] %><br>
		<%= location["address"] %> <br>
		
		<%= shout %> <br></li>
	<% end %>
	</ul>
<% else %>
	<% Users.all.each do |user| %>
 	 	<li><a href="/profile/<%= user.user %>"><%= user.user %></a></li>
	<% end %>
<% end %>

</body>
